<ion-header>
    <ion-toolbar>
        <ion-title>passwordDetails</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row justify-content-center>
            <ion-col align-self-center size="2" sizeXs="12">
                <ion-item>
                    <ion-label>Password Name</ion-label>
                    <ion-input readonly="true" [value]="currentPassword.passwordName"
                               [(ngModel)]="currentPassword.passwordName"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Password</ion-label>
                    <ion-input [type]="passwordType" [value]="currentPassword.password"
                               [(ngModel)]="currentPassword.password"></ion-input>
                    <ion-icon [name]="passwordEyeIcon" class="passwordEyeIcon" (click)="hideShowPassword()"></ion-icon>
                </ion-item>
                <div padding-top>
                    <ion-button size="large" expand="block" type="login" (click)="queryUpdate()">Update Password</ion-button>
                    <ion-button size="large" (click)="onBack()" expand="block" color="secondary">Back</ion-button>
                </div>
            </ion-col>
        </ion-row>
        <div>
            <ion-button class="bottom-button" (click)="queryDelete()" size="large" expand="block" color="danger">Delete
                Password
            </ion-button>
        </div>
    </ion-grid>
</ion-content>
