<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Add a Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="passwordForm" (ngSubmit)="savePassword()" class="ion-padding">
        <ion-item>
            <ion-input type="text" clearInput="true" formControlName=passwordName placeholder="Password Name"
                       [(ngModel)]="password.passwordName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input [type]="passwordType" formControlName="password" clearInput="true" clearOnEdit="false"
                       placeholder="Password" [(ngModel)]="password.password"></ion-input>
            <ion-icon [name]="passwordEyeIcon" class="passwordEyeIcon" (click)="hideShowPassword()"></ion-icon>
        </ion-item>
        <div padding-top>
            <ion-button size="large" expand="block" type="submit" [disabled]="!passwordForm.valid">Save Password</ion-button>
        </div>
    </form>
</ion-content>
