<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Suggested Password</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form [formGroup]="addPasswordForm" (ngSubmit)="onAddPassword()">
        <ion-item>
            <ion-input formControlName="passwordName" clearInput="true" placeholder="Password Name" size="large"
                       required="true" [(ngModel)]="suggestedPassword.passwordName"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input [type]="passwordType" formControlName="password" placeholder="Suggested Password" size="large"
                       required="true" [value]="suggestedPassword.password" [(ngModel)]="suggestedPassword.password" clearOnEdit="false"></ion-input>
            <ion-icon [name]="passwordEyeIcon" class="passwordEyeIcon" (click)="hideShowPassword()"></ion-icon>
        </ion-item>
        <div padding-top>
            <ion-button size="large" expand="block" (click)="generatePassword()">Generate Password</ion-button>
            <ion-button size="large" expand="block" type="submit" color="secondary" [disabled]="!addPasswordForm.valid">Save Password</ion-button>
        </div>
    </form>
</ion-content>
