<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Passwords</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-list-header>
            <ion-grid>
                <ion-col>
                    <ion-row>
                        <ion-label class="listTitle"><b>Passwords</b></ion-label>
                    </ion-row>
                    <ion-row>
                        <ion-note>Click to open</ion-note>
                    </ion-row>
                </ion-col>
            </ion-grid>
        </ion-list-header>
        <ng-container *ngIf="!passwords || passwords.length==0">
            <div *ngFor="let n of [0,1]" padding>
                <ion-skeleton-text></ion-skeleton-text>
                <p>
                    <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
                </p>
            </div>
        </ng-container>
        <ion-item lines="inset" *ngFor="let password of passwords" (click)="onPasswordClick(password)">
            {{ password.passwordName }}
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button routerLink="../add-password" routerDirection="forward">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
